body {
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    background-image: url(./amygdala/background.jpg); /* Set your background image here */
    background-size: cover; /* Cover the entire viewport with the image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

canvas {
    border: 1px solid #000; /* Add a border around the canvas */
}